/* Date Picker */

.date-picker {
  background-color: var(--input-color);
  color: var(--text-color) !important;
  color: var(--text-color) !important;
}

.date-picker .MuiDatePicker-root .MuiOutlinedInput-input {
  background-color: var(--input-color);
  color: var(--text-color) !important;
}
.MuiPickersDay-daySelected.MuiPickersDay-current,
.MuiPickersDay-daySelected {
  background-color: var(--input-color) !important;
  color: var(--text-color) !important;
}

.MuiInputLabel-outlined {
  color: var(--text-color) !important;
}
.MuiInputLabel-outlined {
  color: var(--text-color) !important;
}

.MuiPickersDay-daySelected.MuiPickersDay-current,
.MuiPickersDay-daySelected {
  background-color: var(--primary-color) !important;
  color: var(--text-color) !important;
}

.date-picker .MuiInputBase-input.MuiOutlinedInput-input {
  color: var(--text-color) !important;
}
.MuiSvgIcon-root {
  color: var(--text-color) !important;
}
